/* =========== FONTS =========== */
@font-face {
    font-family: 'SFPro_R';
    src: url('./fonts/SF-Pro-Display-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'SFPro_B';
    src: url('./fonts/SF-Pro-Display-Heavy.otf') format('truetype');
}
@font-face {
    font-family: 'SFPro_L';
    src: url('./fonts/SF-Pro-Display-Thin.otf') format('truetype');
}
/* ============================= */
*{
    font-family: 'SFPro_R', sans-serif;
}
html{
    height: 100%;
    width: 100vw;
}
body{
    display: flex;
    background-color: #F8F9FA;
    padding: 20px;
    width: 99vw;
    margin: 0;
    gap: 10px;
}
.containerLeft{
    flex: 2;
}
.containerRight{
    flex: 1;
}
.search{
    display: flex;
    gap: 10px;
    &>div{
        display: flex;
        align-items: center;
    }
    & img#pointer{
        width: 30px;
        height: 30px;
        &:hover{
            cursor: grab;
        }
    }
}
.white{
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    width: fit-content;
}
#searchInput{
    width: 30vw;
    padding: 0;
    outline: none;
    border: none;
    font-size: 18px;
}